/* TODO: Add sitewide styles */

.category_bar {
    border: 1px, solid, black;
    background-color: whitesmoke;
    width: 100%;
}

.category_bar_option_holder {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;

}

.whole-page {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    /* min-height: 100%; */
}


.logout-user:hover {
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: white;
}



.category_bar_options {
    font-size: 25px;
    transition: 0.2s;
}

.category_bar_options:hover {
    cursor: pointer;
    font-size: x-large;
    font-weight: bold;
    text-shadow: 1px 1px 30px black;
    color: chocolate;
}

.category_bar_options:active {
    cursor: pointer;
    font-weight: bolder;
    color: white;
}


.home_page_drinks_holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 50px;
    max-height: 550px;
    overflow: auto;
    scrollbar-width: none;
    justify-content: space-between;
    background-color: rgba(245, 245, 245, 0.603);
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.685), 0 6px 20px 0 rgb(0, 0, 0);
}

.delete-message-holder {
    position: absolute;
    right: 20px;
    top: 600px;
    border: 2px, solid, black;
    border-radius: 10px;
    font-weight: bold;
    font-size: larger;
    background-color: rgba(210, 105, 30, 0.904);
    height: 5rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.home_page_drinks {
    border: 1px, solid, black;
    width: 20rem;
    height: 220px;
    margin: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.49), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .25s;
    text-align: center;
}

.home_page_drinks:hover {
    cursor: pointer;
    background-color: chocolate;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
    transform: scale(1.2);
}

.home_page_drinks:hover .drink-preview-img {
    box-shadow: none
}


.review-drink-message {
    position: absolute;
    margin-left: 80%;
    margin-top: 50px;
    border: 2px, solid, black;
    border-radius: 10px;
    font-weight: bold;
    font-size: larger;
    background-color: rgba(210, 105, 30, 0.884);
    height: 5rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .drink-holder-delete {
    background-color: gray;
} */

.drink-preview-img {
    height: 150px;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
    background-color: whitesmoke;
    transition: 0.3s
}

/* .drink-preview-img:hover{
    box-shadow:  0 4px 8px 0 rgb(255, 0, 0);
} */

.star-for-rating {
    color: gold;
}


.drink-img-holder {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


.brands-for-brand-name {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 2px 2px black, 3px 3px black;
}

.loading-sign {
    font-size: 25px;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 2px 2px 1px black, 3px 3px 5px black, 1px 1px 4px black, 3px 3px 2px black;
}


.category-page-brands {
    border: 1px, solid, black;
    width: 20rem;
    height: 100px;
    margin: 10px;
    font-size: x-large;
    background-color: whitesmoke;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.49), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .25s;
}

.category-page-brands:hover {
    cursor: pointer;
    background-color: chocolate;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
    transform: scale(1.2);
}

.drink-post-pic {
    height: 500px;
    width: 500px;
    border: 2px solid black;
    border-radius: 5px;
    overflow-y: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.one-drink-info {
    display: flex;
    height: auto;
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 15px;
    background-color: chocolate;
}

.drink-info-holder {
    display: column;
    margin-top: 10px;
    width: 45%;
    padding-left: 10px;
    border-right: 1px solid black;
    margin-bottom: 10px;
    /* justify-content: space-between; */
}

.the-drinks-information {
    display: flex;
    margin-bottom: 30px;
}

.user-experience-holder {
    /* text-align: end; */
    /* margin-left: 200px; */
    width: 500px;
    display: column;
    margin-top: 10px;
}

.user-experience-border {
    text-align: center;
}

.user-experience {
    /* display: flex; */
    margin-bottom: 30px;
}



.user-desc-holder {
    display: column;

}

.star-rating-for-drink {
    margin-left: 5px;
}

.avg-rating {
    /* margin-top: 300px; */
    position: absolute;
    top: 570px;
    border-style: ridge;
    border-color: black;
    border-width: 2px;
    padding: 20px;
    border-radius: 10px;
    width: auto;
    background-color: aliceblue;
}

.update-delete-buttons-one-drink {
    position: absolute;
    padding-top: 1px;
    margin-top: 9.7px;
    margin-left: 9.7px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: chocolate;
    /* padding: 5px; */
    border-bottom-right-radius: 5px;
}

.reviews-for-drink-name {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
    width: 400px;
}

/* .review-details{
    display: flex;
} */

.reviews {
    margin-bottom: 10px;
    background-color: rgba(128, 128, 128, 0.295);
    border-radius: 5px;
    border-bottom: 1px solid black;
}


.review-holder-one-drink {
    margin-bottom: 30px;
    padding: 10px;
    border: 1px, solid, black;
    border-radius: 15px;
    margin-top: 30px;
    background-color: whitesmoke;
}

.update-drink-form {
    width: 300px;
    height: auto;
    display: block;
    text-align: center;
}

.submit-update-drink {
    margin-top: 10px;
}

.submit-update-drink:hover {
    cursor: pointer;
}

.submit-update-rev {
    margin-top: 10px;
    background-color: rgb(202, 134, 85);
}

.submit-update-rev:hover {
    cursor: pointer;
    background-color: rgb(212, 88, 0);
    color: white;
}

.update-rev-form-holder {
    text-align: center;
    width: 300px;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 35px;
    /* border: 1px solid black; */
    background-color: whitesmoke;
    border-radius: 7px;
}

/* #modal-content {
    border: 2px solid black;
    border-radius: 5px;
} */

.delete-rev-form-holder {
    background-color: rgb(255, 125, 125);
    height: auto;
    padding: 30px 20px;
    /* border: 1px solid black; */
    border-radius: 7px;
}

.larger-print {
    font-size: larger;
    margin-bottom: 10px;
    font-weight: bolder;
    border-bottom: 1px solid black;
}

.review-message-for-user {
    margin-top: 30px;
}


.button-to-post-rev:hover {
    cursor: pointer;
    /* background-color: grey; */
    color: white;
}

.button-to-post-rev:active {
    background-color: chocolate;
}


.post-rev-form {
    position: absolute;
    background-color: whitesmoke;
    margin-left: 30%;
    bottom: 20px;
    height: auto;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    display: block;
    text-align: center;
    padding-bottom: 20px;
}

.post-rev-form-details {
    margin-bottom: 10px;
}

.post-rev-form-buttons {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}


.options-for-update:hover {
    cursor: pointer;
    background-color: rgb(75, 75, 75);
    color: white;
}

.options-for-update {
    background-color: rgb(167, 167, 167);
}

.options-for-post:hover {
    cursor: pointer;
    background-color: rgb(214, 89, 0);
    color: white;
}

.options-for-post {
    background-color: rgb(212, 136, 83);
    /* margin-left: 80px; */
}

.options-for-post-drink:hover {
    cursor: pointer;
    background-color: rgb(214, 89, 0);
    color: white;
}

.options-for-post-drink {
    background-color: rgb(212, 136, 83);
    margin-left: 80px;
}

.options-for-delete:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}

.options-for-delete {
    background-color: rgb(254, 93, 93);
}

.delete-rev-buttons {
    display: flex;
    justify-content: space-around;
}


.delete-drink-option {
    background-color: rgb(255, 125, 125);
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
    padding: 0px 20px 30px 20px;
    position: absolute;
    text-align: center;
}

.holder-for-del-update-drink-buttons {
    display: flex;
    justify-content: space-evenly;
}


.post-a-drink-form-holder {
    display: block;
    /* text-align: center; */
    /* padding-left: 20px; */
    height: auto;
    border: 2px solid black;
    width: 40%;
    margin-top: 30px;
    border-radius: 5px;
    padding-bottom: 30px;
    background-color: whitesmoke;
    margin-left: 400px;
}

.text-in-post-drink {
    margin-left: 160px;
}

.header-post-drink {
    text-align: center;
}

.description-text-area {
    max-width: 300px;
    max-height: 100px;
    min-width: 150px;
    min-height: 50px;
}

.post-drink-form-detail {
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
}

/* .login-title {
    background-color: grey;
} */


.sign-up-log-in-holder {
    width: 200px;
    height: auto;
    display: block;
    text-align: center;
    background-color: whitesmoke;
    padding: 10px 20px;
    border-radius: 6px;
    padding-bottom: 15px;
}


.sign-up-login-details {
    margin-bottom: 5px;
    font-size: large;
    font-weight: 500;
}

.sign-up-login-details-holder {
    margin-bottom: 5px;

    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-between; */
    /* width: 170px; */
    /* margin-left: 15px; */
}


body {
    background-image: url('https://allseasonsvcs.com/wp-content/uploads/2020/07/backyard-bbq.jpg');
    background-color: #cccc;
    /* height: 100%; */
    /* margin: 0; */
    /* margin-bottom: 100px; */
}

.submit-button-hover {
    transition: 0.5s;
}


.submit-button-hover:hover {
    cursor: pointer;
    background-color: rgba(211, 149, 105, 0.599);
    border-radius: 6px;
    /* border-width: 3px; */
    border: 3px solid rgba(0, 0, 0, 0.661);
}



.footer-holder {
    /* position: fixed;
    bottom: 5px; */
    /* position:relative; */
    width: 100%;
    height: 30px;
    /* margin-top: 30%; */
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: burlywood;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: .4s;
}

.footer-holder:hover {
    height: 80px;
}

/*
html{
    width:100%

} */

.footer-links {
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.footer-links:hover {
    cursor: pointer;
    color: white;
}


.login-modal-buttons {
    margin-bottom: 5px;
    margin-top: 10px;

}
