.profile-dropdown {
  position: absolute;
  border-color: black;
  border-width: 1px;
  background-color: white;
  border-style: solid;
  height: max-content;
  min-height: 70px;
  border-radius: 1rem;
  margin-top: 5px;
  z-index: 1;
}

.profile-dropdown-info {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  padding: 6px 20px;
  justify-content: space-between;
  margin-top: 4px;
}

.profile-dropdown-info>div {
  margin-bottom: 4px;
}

.profile-dropdown-info-login-signup {
  display: flex;
  width: 60px;
  flex-direction: column;
  align-items: center;
  padding: 6px 20px;
  justify-content: space-between;
  margin-top: 4px;
}

.profile-button-dropdown:hover {
  cursor: pointer;
  background-color: grey;
}

.profile-button-dropdown {
  border-radius: 10px;
  height: 30px;
  width: 30px
}

.home-profile-buttons-holder {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  width: 55%;
  margin-bottom: 25px;
}

.profile-button {
  margin-top: 5px;
}


.login-signup-profile-button:hover {
  cursor: pointer;
  font-weight: bold;
}

.login-signup-profile-button+div {
  margin-top: 8px;
}

.home-logo {
  text-decoration: none;
  color: black;
  font-size: xx-large;
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 10px 40px;
  transition: .4s;
}

.home-logo:hover {
  background-color: chocolate;
  color: whitesmoke;
}

.user-posts-profile {
  /* transition: 0.5s ease-in-out; */
  transition: 0.4s;
}

.user-posts-profile:hover {
  cursor: pointer;
  color: chocolate;
  text-shadow: 0 0 15px black;
}
