<form method="post" action="{{ url_for('posts.patch_drink', postId=drink.id) }}" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <input type="hidden" name="_method" value="PATCH">
    {{ form.brand.label }}
    {{ form.brand() }}
    {{ form.category.label }}
    {{ form.category() }}
    {{ form.name.label }}
    {{ form.name() }}
    {{ form.img.label }}
    {{ form.img() }}
    {{ form.oz.label }}
    {{ form.oz() }}
    {{ form.alc.label }}
    {{ form.alc() }}
    {{ form.rating.label }}
    {{ form.rating() }}
    {{ form.cal.label }}
    {{ form.cal() }}
    {{ form.carbs.label }}
    {{ form.carbs() }}
    {{ form.sodium.label }}
    {{ form.sodium() }}
    {{ form.desc.label }}
    {{ form.desc() }}
    {{ form.submit() }}
</form>
